* {
  box-sizing: border-box;
}
html, body {
  background: #f7f7f7;
}
.app__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0 auto;
  height: 95vh;
}
.app__row--actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: .5rem;
}

.map-wrapper {
  width: 100%;
}

header {
  height: 5vh;
  /* padding: 20px; */
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.2);
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 400px) {
  .app__row {
    flex-direction: column-reverse;
  }
  .map-wrapper {
    min-height: 300px;
  }
  .card__list {
    position: relative;
    z-index: 20;
    box-shadow: 0px -8px 15px 0px rgba(0,0,0,0.25);
  }
  .ui.card {
    width: 100%;
  }
}