.app {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  padding: 8px;
  border: 1px gray solid;
  border-radius: 2px;
}
.card:not(:last-child) {
  margin-bottom: 10px;
}
.card p {
  margin: 0;
}
.card p:not(:last-of-type) {
  margin-bottom: 8px;
}
.card__list {
  padding: 8px;
}