html, body {
  background: #f7f7f7;
}
.app__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0 auto;
}
.app__row--actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: .5rem;
}

.map-wrapper {
  width: 100%;
}