.card {
  display: block;
  padding: 8px;
  border :1px rgba(0,0,0,.15) solid;
  border-radius: 2px;
  text-decoration: none;
  color: black;
  background: #fff;
  box-shadow: rgb(204, 204, 204) 0px 1px 2px;
}
.card.is-active {
  position: relative;
}
.card:not(:last-child) {
  margin-bottom: 10px;
}
.card p {
  margin-top: 0;
  margin-bottom: 4px;
}
.card__list {
  padding: 8px;
  height: 100vh;
  overflow-x: hidden;
}
.card__inventory {
  margin-top: 20px;
}
.card__inventory > div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: .8rem;
}
.card__edit {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

/* Semantic UI overrides */
.ui.feed >.event > .content .extra,
.ui.feed > .event > .label + .content {
  margin-top: 0;
}
a.ui.card:hover {
  transform: none;
}